.tamanho_img{
    height: 200px;
}
.espaco{
    padding-bottom: 20px;
}
.btn_fix{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
}
.fix_left_top{
    position: fixed;
    top: 10px;
    right: 10px;
}
.fix_left_top_total_price{
    position: fixed;
    top: 50px;
    right: 10px;
}
.fix_bottom_btn{
    bottom: 10px;
    right: 10px;
    position: fixed;

}
.space_row{
    margin-top: 40px;
}

.ocultar{

display: none;

}
.separador{
    padding: 0 10px 0 10px;
}